* {
    margin: 0;
    padding: 0;
    color:white;
}
#check{
    display: none;
}
.main_box{
    background: url(assetes/photo.jpg);
    background-size: cover;
    height: 100vh;
  
}
.menu{
    position: relative;
    top: 30px;
    font-size: 20px;
}
.btn_one{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top:10px;
    left:10px;
    color: white;
    z-index: 2;
    transition: all 0.5s linear 0s;
 
}
.btn_two{
    opacity: 0.5;
    font-size: 20px;
    position: absolute;
    left:125px;
    top:15px;
   
}
.sidebar_menu{
    height: 400px;
    width:160px;
    background-color: rgb(255, 255, 255,0.1);
    font-size: 15px;
    border-bottom-right-radius: 10px;
    /* border-top-right-radius: 20px ; */
    position: fixed;
    left: -350px;
    transition: all 0.5s linear 0s;
    
   
}

li{
    padding:5px;
    text-decoration:none;
}
li>i{
    padding:5px;
    color:rgba(255, 255, 255);
   
}
li>a{
    text-decoration: none;
}
li>i:hover{
    scale: 1.2;
}
.social_media{
    position: relative;
    font-size: 20px;
    top:50px;
    text-align: center;
}
.logo{
    width: 150px;
    height: 25px;
    position: relative;
    top: 10px;
}
.logo >a{
    color: white;
    font-size: 25px;
    padding: 5px;
    padding-right: 90px;
    text-decoration: none; 
    cursor: pointer;
}
.logo :hover{
   box-shadow: 0 0 4px rgb(255, 255, 255,0.1);
}
a>i{
    opacity: 0.5;
    color: white;
}
a>i:hover{
    opacity: 1;
    transform:scale(1.2) ;
}
.btn_two:hover{
    opacity: 1;
    
}

#check:checked ~ .sidebar_menu{
    left:0px;
}
#check:checked~.btn_one{
    display: none;

}

.menu li:hover{
    box-shadow: 0 0 4px rgb(255, 255, 255,0.1);
}
h1{
    position: fixed;
    top: 50%;
    left: 50%;
    place-self: CENTER;
}